<div class="sm-padding data-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/images/payment-sucess.svg" alt="payment success" class="payment-img" />
        <h6 class="color-green mt-3" translate>
          <span translate>Payment success! will redirect in </span> <strong>{{second}}s</strong>
        </h6>
      </div>
      <!-- *ngIf="this.satimSuccessOrderId" -->
      <!-- <div class="col-md-12" *ngIf="this.satimSuccessOrderId" >
        <div class="alert alert-info alert-dismissible fade show" translate>
          <span translate> {{this.errorMsg}} </span>
        </div> 
        <p> <strong translate class="color-light-red">JSON params</strong> : <span translate>{{this.jsonParams |json}} </span></p> 
        <p> <strong translate class="color-light-red">Transaction time</strong> :  <span translate>{{this.transactionDate | date:'dd/MM/yyyy HH:mm' }}</span></p>
      </div>
      <div class="col-md-12 text-center" *ngIf="this.satimSuccessOrderId" >        
        <h6 class="color-light-red" translate>
          <span translate>In case of payment problem, please contact the toll free number of SATIM 3020 </span> 
          <img src="/assets/images/3020.png" alt="" class="image-md"  />
        </h6>
      </div> -->
      
    </div>
  </div>
</div>
