<div class="banner-area">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <a href="https://esaboura.com/groupclass/detail/project---team-management-via-trello" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/xNkOKlw.png" alt="project---team-management-via-trello"
        /></a>
      </div>
      
      <div class="carousel-item" data-interval="3000">
        <a href="https://esaboura.com/courses/detail/--------------tot" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/KKzSwt8.png" alt="English BAC slide"
        /></a>
      </div>

      <div class="carousel-item" data-interval="3000">
        <a href="https://esaboura.com/courses/detail/------------------------------------muptb" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/ZAvIMYQ.png" alt="English BAC slide"
        /></a>
      </div>

      <div class="carousel-item" data-interval="3000">
        <a href="https://esaboura.com/courses/detail/---------------------------------" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/1Uks5aM.png" alt="Second slide"
        /></a>
      </div>
      <div class="carousel-item" data-interval="3000">
        <a target="_blank" href="https://esaboura.com/courses/detail/----------------------------------latex--overleaf"
          ><img class="d-block w-100" src="https://i.imgur.com/YBvSVff.png" alt="First slide"
        /></a>
      </div>

      <div class="carousel-item" data-interval="3000">
        <a href="https://esaboura.com/courses/detail/design-thinking" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/zxU3GS1.jpeg" alt="Fourth slide"
        /></a>
      </div>
      <div class="carousel-item" data-interval="3000">
        <a href="https://esaboura.com/courses/detail/meta-ads--facebook---instagram-" target="_blank">
          <img class="d-block w-100" src="https://i.imgur.com/o16I9NV.png" alt="Third slide"
        /></a>
      </div>
      <div class="carousel-item" data-interval="3000">
        <a
          href="https://esaboura.com/courses/detail/--------------------------------------------------"
          target="_blank"
        >
          <img class="d-block w-100" src="https://i.imgur.com/RkVSQLv.png" alt="Fifth slide"
        /></a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Old Banner -->
<!--Start Banner -->
<!-- <div
  class="banner-area d-flex justify-content-center align-items-center text-center"
  [style]="config && config.siteBanner ? { 'background-image': 'url(' + config.siteBanner + ')' } : { 'background-image': 'url(' +  'assets/images/banner/livelearn-main-banner-image.png' + ')' }"
>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="banner-heading">
      <h1 class="color-white" translate>Practice Makes Progress</h1>
      <p class="color-white banner-subtitle mt-n3" translate>Learn at your own space</p>
      <div class="input-group mb-3 max-width-700 mx-auto">
        <div class="input-group-prepend icon-search-bar">
          <span class="input-group-text border-left-rounded-md" (click)="submit()">
            <i class="fas fa-search color-light-red"></i>
          </span>
        </div>
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>
        <input
          placeholder="{{'What would you like to learn?' | translate}}"
          id="typeahead-template"
          type="search"
          class="form-control border-left-none border-right-rounded-md input-search-bar"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          (selectItem)="onSelect($event)"
          (keypress)="keyPress($event)"
        />
      </div>
    </div>
  </div>
</div> -->
<!-- Ends Banner -->
