<div class="sm-padding data-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="table_id_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form class="form-inline">
                <div class="dataTables_length" id="table_id_length">
                  <label>
                    <span translate>Show</span>
                    <select
                      name="table_id_length"
                      aria-controls="table_id"
                      class="custom-select custom-select-sm form-control form-control-sm"
                      [(ngModel)]="pageSize"
                      (change)="getReferredList()"
                    >
                      <option value="10" selected>10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span translate>entries</span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row mt-3 text-center" *ngIf="userType==='tutor'">
          <div class="col-sm-12">
            <p>
              <span translate>Total earnings from referrals: </span
              ><span
                >{{ totalEarnings | currency: (config?.currencySymbol ? config?.currencySymbol + ' '
                :'$'):'symbol':'1.0' }}</span
              >
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <table
              id="table_id"
              class="table table-horizontal tble-responsive dataTable no-footer"
              role="grid"
              aria-describedby="table_id_info"
              [ngClass]="{'text-left': !rtl, 'text-right': rtl}"
            >
              <thead>
                <tr>
                  <th tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-sort="ascending">
                    <span translate>S.no</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'tutorId'"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Tutor Name: activate to sort column descending"
                  >
                    <span translate *ngIf="searchFields.type==='students'">Student name</span>
                    <span translate *ngIf="searchFields.type==='tutors'">Tutor name</span>
                  </th>

                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Referral code: activate to sort column ascending"
                  >
                    <span (click)="sortBy('signUpReferralCode', 'desc')" translate>Referral code</span>
                    <app-sort
                      [sortOption]="sortOption"
                      [sortBy]="'signUpReferralCode'"
                      (onSort)="onSort($event)"
                    ></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="createdAt: activate to sort column ascending"
                  >
                    <span (click)="sortBy('createdAt', 'desc')" translate>Date of Signup</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'createdAt'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Lesson Type: activate to sort column ascending"
                  >
                    <span (click)="sortBy('emailVerified', 'desc')" translate>Email verified</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'emailVerified'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    *ngIf="userType==='student'"
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Reward: activate to sort column ascending"
                  >
                    <span (click)="sortBy('reward', 'desc')" translate>Reward</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'reward'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    *ngIf="userType==='tutor'"
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Reward: activate to sort column ascending"
                  >
                    <span (click)="sortBy('reward', 'desc')" *ngIf="searchFields.type === 'students'" translate
                      >Student referral free</span
                    >
                    <span (click)="sortBy('reward', 'desc')" *ngIf="searchFields.type === 'tutors'" translate
                      >Tutor referral fee</span
                    >
                    <app-sort [sortOption]="sortOption" [sortBy]="'reward'" (onSort)="onSort($event)"></app-sort>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!referredList.length && !loading">
                  <td translate colspan="9">There are no data</td>
                </tr>
                <tr *ngIf="loading">
                  <td translate colspan="9">Loading...</td>
                </tr>
                <tr *ngFor="let item of referredList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item?.user?.name }}</td>
                  <td>{{ item?.referralCode }}</td>
                  <td>
                    <span>{{ item?.createdAt | date: 'dd/MM/yyyy, HH:mma' }}</span>
                  </td>
                  <td>
                    <span class="label label-light-primary" *ngIf="item?.emailVerified" translate>Yes</span>
                    <span class="label label-light-danger" *ngIf="!item?.emailVerified" translate>No</span>
                  </td>
                  <td>
                    <span *ngIf="userType==='student'">{{ item?.reward}} <span translate>bonus class</span></span>
                    <span *ngIf="userType==='tutor'"
                      >{{ item?.reward | currency: (config?.currencySymbol ? config?.currencySymbol + ' '
                      :'$'):'symbol':'1.0' }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="table_id_info" role="status" aria-live="polite">Showing 1
                              to 10 of 12 entries</div>
                      </div> -->
          <div class="col-sm-12 col-md-12">
            <div class="dataTables_paginate paging_simple_numbers" id="table_id_paginate">
              <ngb-pagination
                [collectionSize]="total"
                [(page)]="currentPage"
                [pageSize]="pageSize"
                [maxSize]="5"
                (pageChange)="pageChange()"
                [ngClass]="{'float-right':!rtl, 'float-left': rtl}"
              >
                <ng-template ngbPaginationPrevious translate>Previous</ng-template>
                <ng-template ngbPaginationNext translate>Next</ng-template>
                <!-- <ng-template ngbPaginationNumber let-page>{{ currentPage }}</ng-template> -->
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
